body{
    font-family: 'Lucida Grande' , 'Lucida Sans Unicode' , 'Lucida Sana' , 'Verdana' , 'sans-serif';
    font-size:18px; 
    padding: 0 10%;
    Color: #0d0d0d;

}
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    color: #363536
}
h1{
    font-size: 2em;
    margin: 2em 0;
}
h2{
    font-size: 1.5em;
    line-height: 2;
}
h3{
    font-size: 1em; 
}

p{
	letter-spacing: 0.08px;
	word-wrap: break-word;
}
