body{
    background-color:white(177, 209, 242);
}

header{
    text-align: center;
    background-color: #ffffff;
    color:rgb(160, 77, 162);
    background: rgb(243, 241, 241);
    font-family: 'Oswald';
}

.nav-link{
    color:rgb(51, 76, 125);
    font-family:
    
}
.about{
    text-align: center;
    color:(160, 77, 162);;
}
.about{
    background: rgb(243, 241, 241);
    padding:  10em;
}
.row justify-content-center text-center{
background: rgb(243, 241, 241);
}
img{
    margin:0 auto;
    display: block;
}
.container{ text-align: center;
    color:rgb(160, 77, 162);}