.results {
    background-color: black;
    color: white(11, 11, 11);
    margin: 0;

 }
 
 
 .header {
    min-height: 100vh;
 }
 
 
 .results section {
    min-height: 80vh;
    body {
        background-color: black;
        color: black;
        margin: 0;
    }
 